@using Microsoft.AspNetCore.Identity;
@using OIF.Cams.Data.DAC
@inject SignInManager<ApplicationUser> signInManager

    <ul class="navbar nav ms-auto">

        @if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                @Html.AntiForgeryToken()
                <button type="submit" class="nav-link btn btn-link text-dark" style="padding: 0; border: none; background: none;">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login";>Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register";>Register</a>
        </li>
    }
</ul>